/* IMPOSTAZIONI GENERALI */
.container {
  background-image: url(../img/sfondo.png);
  background-position: center;
}

/* HEADER */
.block-header {
  background-image: linear-gradient(0deg, blue, aqua);
  align-items: center;
  text-align: center;
  margin: 15px;
  font-family: "Poppins", sans-serif;
  padding-inline: 15px;
  padding-block: 20px;
}

.logo {
  height: 100px;
  width: 200px;
}

.header-title {
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.nav-menu {
  color: white;
  text-transform: uppercase;
  list-style-type: none;
  margin-bottom: 15px;
}

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
