/* IMPOSTAZIONI GENERALI */
.container {
  background-image: url(../img/sfondo.png);
  background-position: center;
}
/*
header,
nav,
main {
  width: 90%;
  margin: 0 auto;
  align-items: center;
}
*/
/* HEADER */
.block-header {
  background-image: linear-gradient(0deg, blue, aqua);
  width: 90%;
  align-items: center;
  text-align: center;
  margin: 15px;
  font-family: "Poppins", sans-serif;
}

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
